name: Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run docker action
        uses: ./
        with:
          image: docker:29.0.3
          options: -v ${{ github.workspace }}:/work
          command: |
            echo "$DOCKER_VERSION" > /work/docker-version.txt
      - name: Test the output
        run: |
          result=$(cat docker-version.txt)
          if [ "$result" != "29.0.3" ]; then
            echo "Smoke Test Failed: expected '29.0.3', got '$result'"
            exit 1
          fi

  volume-mount-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Create File to be mounted
        run: echo "some text" > someFile
      - name: Run docker action with mounted workspace
        uses: ./
        with:
          image: docker:29.0.3
          options: -v ${{ github.workspace }}:/work
          command: |
            cat /work/someFile > /work/result.txt
      - name: Check if file contents match
        run: |
          result=$(cat result.txt)
          if [ "$result" != "some text" ]; then
            echo "Volume mount test failed: expected 'some text', got '$result'"
            exit 1
          fi
